.feild{
display: block;

}
input.sub{
    
}
h2{
    color: black;
    text-align: center;
    /* border-bottom: 2px solid greenyellow; */
    border-radius: 50%;
    padding: 10px;
    margin: auto;
    width: 40%;
}
input.feild,.jt{
    padding: 7px;
    width: 70%;
    border: 2px rgb(4, 255, 0) solid;
    background-color: black;
    color: white;
    margin: auto;
    margin-bottom: 10px;
}
input.feild:hover{
    background-color: mediumspringgreen;
}
#con{
background-color: rgba(0, 0, 0, 0.566);
padding: 50px 10%;
width: 70%;
margin:10% auto;
border: 2px solid greenyellow;
box-shadow:  4px 4px 10px greenyellow;
}
body{
    background-color: rgb(37, 37, 37);
}
